body {
    background: #fcfcfc;
}

.dropdown {
    position: relative;
}

.dropdown .dropdown-btn {
    padding: 0.8em;
    background: #fff;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    font-weight: bold;
    color: #333;
    display: flex;
    /* align-items: center; */
    cursor: pointer;
    justify-content: space-between;
    font-size: small;
    width: 13em;
    padding-left: 0.9em;
    border-radius: 0.2em;
}

.dropdown .dropdown-content {
    position: absolute;
    top: 110%;
    padding: 0.5em;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.233) 0px 3px 12px;
    font-weight: 500;
    color: #333;
    width: 13.7em;
    font-size: small;
    border-radius: 0.2em;
}

.dropdown .dropdown-content .dropdown-item {
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.dropdown .dropdown-content .dropdown-item:last-child {
    border-bottom: none;
}

.dropdown .dropdown-content .dropdown-item:hover {
    font-weight: bold;
    /* color: rgb(46, 46, 46); */
    /* background-color: #f1f1f1c9; */
    /* border-radius: 0.5em;
    text-decoration: underline; */
}
