.image {
  margin-right: 2em;
}

/* img {
  border-radius: 50%;
} */

h2 {
  font-size: medium;
  font-weight: 500;
  line-height: 0.2em;
}

h3 {
  font-size: small;
  font-weight: 400;
}

p {
  font-size: small;
  color: rgb(134, 134, 134);
}

button {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;
  padding: 0.6em;
  width: 12em;
  font-size: 80%;
  color: white;
  border-style: none;
  border-radius: 5em;
  font-weight: 500;
}

.likes {
  color: black;
  background-color: none;
  border: 1px solid black;
  margin-bottom: 0.8em;
}

.spotify {
  background-color: black;
  padding-right: 1.3em;
}

.likes > *,
.spotify > * {
  margin: 0 0.5em;
}

.description {
  text-align: left;
  font-size: 85%;
}

.action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2em;
}

.left-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: row;
  /* justify-content: center; */
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  border-radius: 0.2em;
  width: 80%;
  margin-bottom: 1em;
  background-color: #f6f5f5;
  color: #1a191b;
  padding: 0.8em 1em;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.likes:hover,
.spotify:hover {
  cursor: pointer;
}
