.btn {
  background-color: black;
  width: 15em;
  padding: 0.7em;
  font-size: 1em;
  margin-bottom: -1.3em;
}

input {
  margin-bottom: 1em;
  width: 12em;
  padding: 0.4em;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 0.2em;
  align-items: center;
}
