.actions {
  display: flex;
  flex-direction: row;
}

.btn {
  background-color: black;
  width: 100%;
  padding: 0.7em;
  font-size: large;
  margin-bottom: -1.3em;
  cursor: pointer;
}

input {
  margin-bottom: 1em;
  /* width: 12em; */
  padding: 0.4em;
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10em;
  padding: 8em 0;
  padding-right: 2em;
  /* background-color: azure; */
}

.form-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: scale(0.92);
  /* border: 1px solid salmon; */
  width: fit-content;
}

.autofill {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
  /* justify-content: space-between; */
  height: 100%;
}

.divider {
  width: 0.3em;
  border-radius: 10em;
  background-color: rgba(37, 37, 37, 0.164);
  height: 140%;
}

.inputs {
  display: flex;
  flex-direction: column;
  /* background-color: aliceblue; */
  height: 100%;
  align-items: left;
  margin-right: 4em;
  width: 100%;
  min-width: 13em;
}

input {
  font-size: medium;
  opacity: 65%;
  padding: 0.7em 0.7em;
  /* width: 17em !important; */
}

.header {
  margin-top: 0;
}

h1.header {
  margin-top: -1.2em;
  margin-left: -0.8em;
}

h2 {
  margin-bottom: 1.5em;
}

h2.current {
  line-height: unset;
  margin-bottom: -0.5em;
}

p.current {
  font-size: larger;
}

div.current {
  margin-bottom: 4em;
}
