.close,
.button {
  background-color: black;
}

.create-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  align-items: center;
  border-radius: 0;
  font-size: small;
  font-weight: bold;
  width: 13em;
  padding: 0.8em;
  padding-left: 1em;
}

/* .create-btn > * {
  margin: 0 2em;
} */

.circle {
  font-size: 1.2em;
}

.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: 4px !important;
  top: 4px !important;
  font-size: 20px !important;
  width: 1.4em !important;
  background: black !important;
  color: white !important;
  /* border-radius: 3em !important; */
  border: 0.1em solid #fff !important;
}

.popup-content {
  border-radius: 0.3em !important;
}

.modal > .header {
  font-weight: 500;
  margin-bottom: 0.1em;
}

.button {
  background-color: black;
  cursor: pointer;
}
