.App {
  text-align: center;
}

.button {
  background-color: black;
}

.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 20px !important;
  width: 1.6em !important;
  background: black !important;
  border-radius: 3em !important;
  border: 0.2em solid #ffffff !important;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.create-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
}

.create-btn > * {
  margin: 0 0.5em;
}
