@import url("https://fonts.googleapis.com/css2?family=Karla:wght@500;700&family=Poppins:wght@600;700&display=swap");

/* ---- general ---- */
.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-top: -0.5em;
    font-weight: 600;
    letter-spacing: -0.02em;
    font-family: "Poppins", sans-serif;
}

/* ---- modal ---- */

.modal {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal > .header {
    width: 100%;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    font-weight: 500;
}

.modal > .content {
    width: 100%;
    padding: 10px 5px;
}

.modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
}

.modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: 4px;
    top: 4px;
    font-size: 20px;
    width: 1.4em;
    background: black;
    color: white;
    border: 0.1em solid #fff;
}

.create-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    align-items: center;
    border-radius: 0;
    font-size: small;
    width: 13em;
    padding: 0.8em;
    padding-left: 1em;
    border-radius: 0.2em;
}

.circle {
    font-size: 1.2em;
}

.popup-content {
    border-radius: 0.3em;
    border: none;
    padding: 1em;
    max-width: 30em;
}

.button {
    background-color: black;
    cursor: pointer;
}

/* ---- home ---- */

.home {
    display: flex;
    flex-direction: column;
    width: 85%;
    max-width: 60em;
    min-width: 36em;
    margin-top: 0.4em;
    padding: 2em;
}

.home-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
    margin-top: 1.2em;
}

.home-actions > * {
    margin: 0 0.5em;
}

.user-settings {
    margin-left: auto;
    margin-top: 0em;
}
