.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background-color: black;
  cursor: pointer;
}

.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 20px !important;
  width: 1.6em !important;
  background: black !important;
  border-radius: 3em !important;
  border: 0.2em solid #ffffff !important;
}

.create-btn {
  display: flex;
  flex-direction: row;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  align-items: center;
  border-radius: 0;
  font-size: small;
  font-weight: bold;
  width: 13em;
  padding: 0.8em 0.2em 0.8em 0.8em;
  /* padding-bottom: 1em;
  padding-left: 1.2em; */
}

.create-btn > * {
  margin: 0 0.5em;
}
